#t1_1{left:37px;top:28px;letter-spacing:-0.1px;}
#t2_1{left:102px;top:28px;}
#t3_1{left:102px;top:28px;letter-spacing:0.2px;}
#t4_1{left:37px;top:50px;letter-spacing:-0.2px;word-spacing:0.5px;}
#t5_1{left:180px;top:50px;}
#t6_1{left:185px;top:50px;letter-spacing:0.2px;}
#t7_1{left:37px;top:71px;letter-spacing:-0.7px;}
#t8_1{left:81px;top:71px;}
#t9_1{left:86px;top:71px;letter-spacing:0.2px;}
#ta_1{left:37px;top:93px;}
#tb_1{left:104px;top:93px;}
#tc_1{left:114px;top:93px;letter-spacing:0.2px;}
#td_1{left:379px;top:93px;}
#te_1{left:397px;top:93px;letter-spacing:0.2px;}
#tf_1{left:444px;top:93px;}
#tg_1{left:37px;top:123px;}
#th_1{left:200px;top:123px;}
#ti_1{left:362px;top:123px;}
#tj_1{left:665px;top:26px;letter-spacing:-0.6px;}
#tk_1{left:665px;top:64px;letter-spacing:-0.3px;}
#tl_1{left:665px;top:215px;letter-spacing:-1.4px;}
#tm_1{left:665px;top:177px;letter-spacing:-2.4px;}
#tn_1{left:665px;top:140px;letter-spacing:0.1px;}
#to_1{left:665px;top:101px;letter-spacing:0.2px;}
#tp_1{left:666px;top:337px;letter-spacing:-0.3px;}
#tq_1{left:666px;top:300px;letter-spacing:-2.2px;}
#tr_1{left:665px;top:387px;letter-spacing:0.1px;}
#ts_1{left:668px;top:422px;}
#tt_1{left:665px;top:254px;letter-spacing:-1.2px;}
#tu_1{left:729px;top:7px;letter-spacing:0.2px;}
#tv_1{left:768px;top:8px;letter-spacing:0.2px;word-spacing:0.4px;}
#tw_1{left:794px;top:8px;letter-spacing:0.5px;word-spacing:-0.4px;}
#tx_1{left:823px;top:8px;letter-spacing:0.2px;word-spacing:-0.1px;}
#ty_1{left:747px;top:372px;}
#tz_1{left:807px;top:372px;letter-spacing:0.1px;}
#t10_1{left:812px;top:286px;letter-spacing:0.2px;}
#t11_1{left:730px;top:460px;}
#t12_1{left:267px;top:163px;}
#t13_1{left:289px;top:494px;}
#t14_1{left:99px;top:519px;letter-spacing:-0.1px;}
#t15_1{left:240px;top:519px;letter-spacing:-0.9px;}
#t16_1{left:298px;top:519px;letter-spacing:0.3px;}
#t17_1{left:446px;top:519px;}
#t18_1{left:593px;top:519px;letter-spacing:0.2px;}
#t19_1{left:259px;top:800px;letter-spacing:-0.3px;}
#t1a_1{left:317px;top:800px;letter-spacing:-0.1px;}
#t1b_1{left:42px;top:824px;letter-spacing:-0.2px;}
#t1c_1{left:84px;top:824px;}
#t1d_1{left:84px;top:824px;letter-spacing:-0.4px;}
#t1e_1{left:385px;top:824px;letter-spacing:0.2px;}
#t1f_1{left:529px;top:824px;letter-spacing:-2px;}
#t1g_1{left:549px;top:824px;letter-spacing:-0.3px;}
#t1h_1{left:44px;top:852px;letter-spacing:-0.3px;}
#t1i_1{left:103px;top:852px;}
#t1j_1{left:103px;top:852px;letter-spacing:-0.3px;}
#t1k_1{left:36px;top:880px;letter-spacing:-0.2px;}
#t1l_1{left:159px;top:880px;letter-spacing:-1px;}
#t1m_1{left:196px;top:880px;letter-spacing:-0.2px;}
#t1n_1{left:230px;top:880px;letter-spacing:-0.1px;}
#t1o_1{left:288px;top:880px;}
#t1p_1{left:725px;top:825px;letter-spacing:-0.5px;}
#t1q_1{left:653px;top:867px;letter-spacing:-1.3px;}
#t1r_1{left:714px;top:867px;}
#t1s_1{left:749px;top:867px;}
#t1t_1{left:783px;top:867px;}
#t1u_1{left:818px;top:867px;}
#t1v_1{left:853px;top:867px;}
#t1w_1{left:653px;top:894px;letter-spacing:-0.2px;}
#t1x_1{left:653px;top:920px;letter-spacing:-0.1px;}
#t1y_1{left:653px;top:947px;letter-spacing:-0.3px;}
#t1z_1{left:650px;top:848px;letter-spacing:0.3px;}
#t20_1{left:758px;top:848px;letter-spacing:0.3px;}
#t21_1{left:651px;top:971px;letter-spacing:0.3px;}
#t22_1{left:760px;top:971px;letter-spacing:0.1px;}
#t23_1{left:654px;top:1215px;letter-spacing:0.1px;word-spacing:0.2px;}
#t24_1{left:652px;top:994px;letter-spacing:-1px;}
#t25_1{left:769px;top:994px;}
#t26_1{left:809px;top:994px;}
#t27_1{left:850px;top:994px;}
#t28_1{left:652px;top:1020px;letter-spacing:-0.3px;}
#t29_1{left:652px;top:1047px;letter-spacing:0.1px;}
#t2a_1{left:652px;top:1073px;letter-spacing:0.1px;word-spacing:-0.5px;}
#t2b_1{left:653px;top:1137px;letter-spacing:-1.1px;}
#t2c_1{left:770px;top:1137px;}
#t2d_1{left:810px;top:1137px;}
#t2e_1{left:851px;top:1137px;}
#t2f_1{left:653px;top:1163px;}
#t2g_1{left:653px;top:1190px;}

#tab_prog{left:760px;top:18px;}
#obw_mod{left:100px;}
#tab_umie{left:25px;top:186px;}
#list_cechy{
	left:650px;
	top:470px;
}
#tab_zdol{left:25px;top:545px;}
#tab_poz_SW{left:420px;top:815px;}
#tab_SW{left:32px;top:900px;}
#t21_12b{left:651px;top:1110px;letter-spacing:0.3px;}
#tab_akt{left:702px;top:890px;}
#tab_abs{left:754px;top:1018px;}
#tab_man{left:754px;top:1161px;}

.s1_1{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s2_1{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(192,192,192);
}

.s3_1{
	FONT-SIZE: 36.7px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s4_1{
	FONT-SIZE: 67.2px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s5_1{
	FONT-SIZE: 61.1px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s6_1{
	FONT-SIZE: 42.8px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s7_1{
	FONT-SIZE: 42.8px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(192,192,192);
}

.s8_1{
	FONT-SIZE: 61.1px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(192,192,192);
}

.s9_1{
	FONT-SIZE: 55px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s10_1{
	FONT-SIZE: 48.9px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

input[type="text"],input[type="number"]{
	border: none;
	background: transparent;
}

.FPM{
	padding-left: 100px;
	width: 300px;
}

.stata{
	padding-left: 40px;
	width: 150px;
}

.statspacer{
	width:53.31px;
	
}

.progC{
	width:120px;
	padding-bottom:0px;
}

.progW{
	height:150px;
}

.mod{
	padding-left: 80px;
	margin-left:80px;
	width: 200px;
}

.Akt{
	padding-left: 40px;
	width: 220px;
}

.max{
	padding-left: 60px;
	margin-left:20px;
	width: 220px;
}

.umieW{
	margin-bottom:0px;
	height:99px;
	padding-bottom:0px;
}

.umieK1{
	width:1020px;
}

.umieK2{
	width:150px;
	text-align:center;
}

.umieK3{
	width:1130px;
}

.umieK4{
	width:180px;
}

.tr_cecha{
	height:70px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.th_cecha{
	padding:0px;
	width:900px;
}

.zdolW{
	margin-bottom:5px;
	height:103px;
	padding-bottom:0px;
}

.zdolK1{
	width:800px;
}
.zdolK2{
	width:230px;
	text-align:center;
}
.zdolK3{
	width:270px;
	text-align:center;
}
.zdolK4{
	width:890px;
}
.zdolK5{
	width:290px;
}
.m1-check{
	width:59px;
	height:59px;
	margin-right:18px;
}
.tab_SW_W{
	height:99px;
}
.tab_SW_K1{
	width:489px;
}
.tab_SW_K2{
	width:139px;
	text-align:center;
}
.tab_SW_K3{
	width:139px;
}
.tab_SW_K4{
	width:228px;
}
.tab_SW_K5{
	width:1450px;
}
.tab_akt_W{
	height:100px;
	text-align:center;
}
.tab_akt_K{
	width:133px;
}
.tab_abs_W{
	height:100px;
	text-align:center;
}
.tab_abs_K{
	width:155px;
}
.tab_man_W{
	height:100px;
	text-align:center;
}
.tab_man_K{
	width:155px;
}
