#t1_2{left:550px;top:24px;letter-spacing:-0.1px;}
#t2_2{left:639px;top:27px;letter-spacing:0.2px;}
#t3_2{left:544px;top:200px;letter-spacing:-0.2px;}
#t4_2{left:582px;top:200px;letter-spacing:0.2px;}
#t5_2{left:676px;top:200px;letter-spacing:-0.8px;}
#t6_2{left:711px;top:200px;letter-spacing:0.2px;}
#t7_2{left:544px;top:232px;letter-spacing:-0.1px;}
#t8_2{left:626px;top:232px;}
#t9_2{left:718px;top:232px;letter-spacing:0.2px;}
#ta_2{left:544px;top:264px;letter-spacing:-0.1px;}
#tb_2{left:584px;top:264px;}
#tc_2{left:537px;top:59px;letter-spacing:-2.4px;word-spacing:3.1px;}
#td_2{left:537px;top:85px;letter-spacing:-2.1px;word-spacing:2.6px;}
#te_2{left:537px;top:116px;letter-spacing:-0.2px;}
#tf_2{left:537px;top:142px;letter-spacing:0.1px;}
#tg_2{left:537px;top:168px;letter-spacing:-0.3px;}
#th_2{left:198px;top:434px;letter-spacing:-0.5px;}
#ti_2{left:93px;top:895px;letter-spacing:-7.7px;}
#tj_2{left:39px;top:923px;letter-spacing:-0.3px;}
#tk_2{left:214px;top:709px;letter-spacing:0.3px;}
#tl_2{left:145px;top:456px;letter-spacing:0.1px;word-spacing:0.2px;}
#tm_2{left:23px;top:453px;}
#tn_2{left:304px;top:454px;letter-spacing:-0.5px;}
#to_2{left:386px;top:453px;letter-spacing:-0.3px;}
#tp_2{left:462px;top:454px;letter-spacing:0.2px;}
#tq_2{left:210px;top:890px;letter-spacing:-0.1px;}
#tr_2{left:299px;top:893px;letter-spacing:0.2px;}
#ts_2{left:225px;top:1111px;letter-spacing:-0.4px;word-spacing:0.4px;}
#tt_2{left:225px;top:1129px;letter-spacing:-0.3px;word-spacing:0.6px;}
#tu_2{left:195px;top:924px;letter-spacing:-2.4px;word-spacing:3px;}
#tv_2{left:195px;top:954px;letter-spacing:-0.7px;}
#tw_2{left:195px;top:985px;letter-spacing:-0.5px;}
#tx_2{left:195px;top:1015px;}
#ty_2{left:195px;top:1045px;letter-spacing:-0.1px;}
#tz_2{left:195px;top:1076px;letter-spacing:0.1px;}
#t10_2{left:563px;top:890px;letter-spacing:-0.1px;}
#t11_2{left:651px;top:893px;letter-spacing:0.2px;}
#t12_2{left:578px;top:1111px;letter-spacing:-0.4px;word-spacing:0.7px;}
#t13_2{left:578px;top:1129px;letter-spacing:-0.3px;word-spacing:-0.1px;}
#t14_2{left:547px;top:924px;letter-spacing:-2.4px;word-spacing:3px;}
#t15_2{left:547px;top:954px;letter-spacing:-0.5px;}
#t16_2{left:547px;top:985px;letter-spacing:-0.5px;}
#t17_2{left:547px;top:1015px;}
#t18_2{left:547px;top:1045px;letter-spacing:-0.1px;}
#t19_2{left:547px;top:1076px;letter-spacing:0.2px;}
#t1a_2{left:550px;top:295px;letter-spacing:-0.1px;}
#t1b_2{left:639px;top:298px;letter-spacing:0.2px;}
#t1c_2{left:544px;top:471px;letter-spacing:0.1px;}
#t1d_2{left:582px;top:471px;letter-spacing:0.2px;}
#t1e_2{left:676px;top:471px;letter-spacing:-0.5px;}
#t1f_2{left:712px;top:471px;letter-spacing:0.2px;}
#t1g_2{left:544px;top:503px;letter-spacing:-0.1px;}
#t1h_2{left:626px;top:503px;}
#t1i_2{left:718px;top:503px;letter-spacing:0.2px;}
#t1j_2{left:544px;top:535px;letter-spacing:-0.1px;}
#t1k_2{left:584px;top:535px;}
#t1l_2{left:537px;top:331px;letter-spacing:-2.4px;word-spacing:3.1px;}
#t1m_2{left:537px;top:357px;letter-spacing:-2.1px;word-spacing:2.6px;}
#t1n_2{left:537px;top:387px;letter-spacing:-0.2px;}
#t1o_2{left:537px;top:413px;letter-spacing:0.1px;}
#t1p_2{left:537px;top:439px;letter-spacing:-0.3px;}
#t1q_2{left:550px;top:566px;letter-spacing:-0.1px;}
#t1r_2{left:639px;top:569px;letter-spacing:0.2px;}
#t1s_2{left:544px;top:741px;letter-spacing:0.1px;}
#t1t_2{left:582px;top:741px;letter-spacing:0.2px;}
#t1u_2{left:676px;top:741px;letter-spacing:-0.5px;}
#t1v_2{left:712px;top:741px;letter-spacing:0.2px;}
#t1w_2{left:544px;top:774px;letter-spacing:-0.1px;}
#t1x_2{left:626px;top:774px;}
#t1y_2{left:718px;top:774px;letter-spacing:0.2px;}
#t1z_2{left:544px;top:806px;letter-spacing:-0.1px;}
#t20_2{left:584px;top:806px;}
#t21_2{left:537px;top:601px;letter-spacing:-2.4px;word-spacing:3.1px;}
#t22_2{left:537px;top:627px;letter-spacing:-2.1px;word-spacing:2.6px;}
#t23_2{left:537px;top:658px;letter-spacing:-0.2px;}
#t24_2{left:537px;top:684px;letter-spacing:0.1px;}
#t25_2{left:537px;top:710px;letter-spacing:-0.3px;}


.s1_2{
	FONT-SIZE: 97.8px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s2_2{
	FONT-SIZE: 85.6px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s3_2{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s4_2{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(192,192,192);
}

.s5_2{
	FONT-SIZE: 64.2px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

input[type="text"],input[type="number"]{
	border: none;
	background: transparent;
}

#tab_bronB1{left:634px;top:56px;}
.tab_bronB_W{
	height:99px;
	margin-bottom:0px;
}
.tab_bronB_K1{
	width:226px;
}
.tab_bronB_K2{
	width:255px;
}

#PDc{
	left:20px;
	top:980px;
	width:600px;
	text-align:center;
	letter-spacing:-0.3px;
}
#PDo{
	left:20px;
	top:1050px;
	width:600px;
	text-align:center;
	letter-spacing:-0.3px;
}

#ubior1{
	left:20px;
	top:730px;
	width:1900px;
	letter-spacing:-0.3px;
}
#ubior2{
	left:20px;
	top:760px;
	width:1900px;
	letter-spacing:-0.3px;
}
#ubior3{
	left:20px;
	top:790px;
	width:1900px;
	letter-spacing:-0.3px;
}
#ubior4{
	left:20px;
	top:820px;
	width:1900px;
	letter-spacing:-0.3px;
}

#tab_panc{left:20px;top:480px;}
.tab_panc_W{
	height:99px;
}
.tab_panc_K1{
	width:450px;
}
.tab_panc_K2{
	width:650px;
}
.tab_panc_K3{
	width:320px;
}
.tab_panc_K4{
	width:320px;
}
.tab_panc_K5{
	width:150px;
}