#t1_8{left:300px;top:53px;letter-spacing:-0.7px;}
#t2_8{left:70px;top:170px;letter-spacing:-1px;}
#t3_8{left:363px;top:167px;letter-spacing:-0.3px;}
#t4_8{left:751px;top:171px;letter-spacing:-0.1px;}
#t5_8{left:222px;top:171px;letter-spacing:-0.9px;}
#t6_8{left:72px;top:127px;letter-spacing:-0.9px;word-spacing:0.3px;}
#t7_8{left:538px;top:170px;letter-spacing:-0.1px;}

#tab_rytualy{
	left:18px;
	top:196px;
}

.s1_8{
	FONT-SIZE: 171.1px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s2_8{
	FONT-SIZE: 97.8px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

.s3_8{
	FONT-SIZE: 110px;
	FONT-FAMILY: DejaVuSans_1g;
	color: rgb(0,0,0);
}

input[type="text"],input[type="number"]{
	border: none;
	background: transparent;
}

.tab_rytualy_W{
	height:99px;
}
.tab_rytualy_K1{
	width:790px;
	FONT-SIZE:40px;
}
.tab_rytualy_K2{
	width:460px;
	text-align:center;
}
.tab_rytualy_K3{
	width:720px;
	FONT-SIZE:40px;
}
.tab_rytualy_K4{
	width:750px;
	FONT-SIZE:40px;
}
.tab_rytualy_K5{
	width:770px;
	FONT-SIZE:40px;
}